<div class="page_wrapper wdth100">

    <div class="wrap_login">
        <div class="container">
            <div class="login_wrapper">
                <div class="login_left">
                    <img src="assets/images/login.png">
                </div>
                <div class="login_rgt">
                    <h2 class="logo">Logo <span class="light_orange"> Name</span></h2>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form_field">
                            <label>Email</label>
                            <input type="text" name="" formControlName="email">
                        </div>
                        <div class="form_field">
                            <label>Password</label>
                            <input type="text" name="" formControlName="password">
                        </div>

                        <!-- <div class="forget_row">
                            <div class="cstm_checkbox">
                                <input type="checkbox" id="test1" />
                                <label for="test1">Remember Me</label>
                            </div>

                        </div> -->

                        <button type="submit" class="default_btn">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>