a:hover {
    text-decoration: none;
}

li {
    margin-bottom: 10px!important;
}

.cstm_tab .nav-tabs>li>a.active {
    color: #fff;
    cursor: default;
    background-color: #ffa400;
    border: none;
    border-bottom-color: transparent;
}