<div class="page_wrapper wdth100">
      
  <section class="banner">
       <h1>My Events</h1>
  </section>
   
  <section class="cstm_tab">
    <div class="container">
        <ul class="nav nav-tabs ">
          <li><a class="active" data-toggle="tab" href="#home">Upcoming Events</a></li>
          <li><a data-toggle="tab" href="#menu1">Past Events</a></li>
         
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in active show">
            <h3 class="tab_heading">Upcoming <span class="font_wgt500">Events</span></h3>
            <div class="events_row">
               <div class="events_col" *ngFor="let evt of upcomingEvts">
                 <div class="event_img">
                    <img src="assets/images/events_1.jpg">
                    <div class="date_event">
                      <span class="date"> {{ evt.startTime | date :'dd'}} </span>
                      <span> {{ evt.startTime | date :'MMM'}} </span>

                    </div>
                   <ul class="event_list">
                     <li class="ograniser"><a href="">Organizer</a></li>
                     <li class="speaker"><a href="">Speaker</a></li>
                   </ul>
                 </div>
                 <div class="event_contnt">
                   <div class="time_schdule">
                     <p><i class="fa fa-calendar" aria-hidden="true"></i> {{ evt.startTime | date :'dd MMM'}} - {{ evt.endTime | date :'dd MMM'}} </p>
                     <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{ evt.startTime | date :'h.mm a'}} - {{ evt.endTime | date :'h:mm a'}} </p>
                   </div>
                  
                   <h4> {{ evt.title }} </h4>
                   <p> {{ evt.description }} </p>

                    <a [routerLink]="['/dashboard',evt.event_id,'talks']" class="default_btn">View details</a>
                 </div>
               </div>

            </div>
          </div>

          <div id="menu1" class="tab-pane fade">
            <h3 class="tab_heading">Past <span class="font_wgt500">Events</span></h3>
            <div class="events_row">
               <div class="events_col" *ngFor="let evt of pastEvts">
                 <div class="event_img">
                    <img src="assets/images/events_1.jpg">
                    <div class="date_event">
                      <span class="date"> {{ evt.startTime | date :'dd'}} </span>
                      <span> {{ evt.startTime | date :'MMM'}} </span>

                    </div>
                   <ul class="event_list">
                     <li class="ograniser"><a href="">Organizer</a></li>
                     <li class="speaker"><a href="">Speaker</a></li>
                   </ul>
                 </div>
                 <div class="event_contnt">
                   <div class="time_schdule">
                     <p><i class="fa fa-calendar" aria-hidden="true"></i> {{ evt.startTime | date :'dd MMM'}} - {{ evt.endTime | date :'dd MMM'}} </p>
                     <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{ evt.startTime | date :'h.mm a'}} - {{ evt.endTime | date :'h:mm a'}} </p>
                   </div>
                  
                   <h4> {{ evt.title }} </h4>
                   <p> {{ evt.description }} </p>

                    <a [routerLink]="['/dashboard',evt.event_id,'talks']" class="default_btn">View details</a>
                    <a class="default_btn green_btn">Interested Attendees</a>
                 </div>


               </div>
            </div>
          </div>
         
        </div>
    </div>
  </section> 
   
  </div>