<header>
    <div class="container">
        <div class="wrap_header">
            <div class="logo_row">
                <h2 class="logo mg0">Logo <span class="light_orange"> Name</span></h2>
            </div>

            <div class="rgt_part" *ngIf="isAuthenticated()">
                <div class="dropdown profile_dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="profile_img"><img src="assets/images/user.png"> <span class="profile_name">John
                                William</span></span>
                        <span class="caret"> </span></button>
                    <ul class="dropdown-menu">
                        <li><a >My Profile</a></li>
                        <li><a >Setting</a></li>
                        <li (click)="logOut()"><a >Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>