<!-- <div id="conference">
    <button (click)="leave()">leave</button>
    <div id="winConfig">
        <h4>My Feed :</h4>
        <button (click)="muteVideo()">Mute Video</button>
        <button (click)="unmuteVideo()">Unmute Video</button>
        <button (click)="muteAudio()">Mute Audio</button>
        <button (click)="unmuteAudio()">Unmute Audio</button>
    </div>
    <div id="local">

    </div>

    <h4>Remote Feeds :</h4>
    <div id="remote-container">

    </div>
    <div id="msg">
        <label>User Id: (Local)</label>
        <p id="userId"></p>
        <input placeholder="Enter your message" id="mes" #message>
        <button (click)="sendMessage()">Send message</button>
    </div>
    <div id="messageSection">

    </div>
</div> -->

<div class="page_wrapper wdth100">
    <div class="chat_top wdth100">
        <div class="proj_title">
            <span><img src="assets/images/chat/ball.png" alt="">Real Estate</span>
        </div>
        <div class="live_icon online">
            <span class="notifide_icon" style="background:#36e836">&nbsp;</span>
            <span>Live</span>
        </div>
        <div class="list_icn">
            <a><i class="fa fa-users" aria-hidden="true"></i><span>3</span></a>
            <a class="chat_icn" (click)="toggleMsgPane()" [ngClass]="isMsgPaneOpen ?'active':''"> <i class="fa fa-comments" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="main_wrapr no_sidebar wdth100">
        <div class="video_panel">
            <div id="video_call_wrapr" [ngClass]="isOneScreen ? 'one_screen' : ''" class="video_wrapr wdth100">
                <div class="video_col">
                    <!-- <span class="participant_avatar">
                        <img src="assets/images/man_avatar3.jpg">
                    </span> -->
                    <div id="local">
                    </div>
                    <a class="speaker_icn"><img src="assets/images/chat/mute.png" alt=""></a>
                </div>
                <ul class="mob_video_wrapr">
                    <li class="mobile_video">
                        <a>
                            <img src="assets/images/man_avatar3.jpg">
                        </a>
                        <a class="mute_icn"><img src="assets/images/chat/mic.png" alt=""></a>
                    </li>
                    <li class="mobile_video">
                        <a>
                            <img src="assets/images/man_avatar3.jpg">
                        </a>
                        </li>
                    <li class="mobile_video">
                        <a>
                            <video width="100%" height="100%" controls>
                                <source src="movie.mp4" type="video/mp4">
                                <source src="movie.ogg" type="video/ogg">
                            </video>
                        </a>
                        </li>
                    <li class="mobile_video">
                        <a>
                            <img src="assets/images/man_avatar3.jpg">
                        </a>
                        <a class="mute_icn"><img src="assets/images/chat/mic.png" alt=""></a>
                    </li>
                </ul>
               
                <!-- <div class="mobile_video">
                    <img src="assets/images/man_avatar3.jpg">
                </div>
                <div class="mobile_video">
                    <img src="assets/images/man_avatar3.jpg">
                </div> -->
            </div>

        </div>
        <div class="chat_wrapper" [ngClass]="isMsgPaneOpen ?'show_sidebar':''">
            <div class="chat_body_wrap wdth100">
                <span class="mobile_avatar">
                    <img src="assets/images/man_avatar3.jpg">
                    <a class="mute_icn"><img src="assets/images/chat/mic.png" alt=""></a>
                </span>
                <div class="chat_body wdth100">
                    <div id="messageSection"  class="wdth100">
                    </div>
                </div>
                <form [formGroup]="form" class="write_msg wdth100" (ngSubmit)="sendMessage()">
                    <div class="chat_wrap wdth100">
                        <div class="wdth100">
                            <span class="search_user"><img src="assets/images/chat/profile_img.png"></span>
                            <input type="text" formControlName="msg" class="chat_input" placeholder="Type a message">
                        </div>
                        <button type="submit" class="sent_icn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="chat_btm wdth100">
        <div class="chat_icon_wrap">
            <div class="chat_icon_left">
                <ul class="left_icon_list">
                    <li><a (click)="leave()"><img src="assets/images/chat/logout.png" alt=""></a></li>
                    <li>
                        <ul class="inner_list">
                            <li><a (click)="unmuteVideo()" *ngIf="isMuteVideo"><img src="assets/images/chat/no-video.png" alt=""></a></li>
                            <li><a (click)="muteVideo()" *ngIf="!isMuteVideo"><img src="assets/images/chat/video.png" alt=""></a></li>
                            <li><a (click)="unmuteAudio()" *ngIf="isMuteAudio"><img src="assets/images/chat/mute.png" alt=""></a></li>
                            <li><a (click)="muteAudio()" *ngIf="!isMuteAudio"><img src="assets/images/chat/mic.png" alt=""></a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>