#local {
    height: 100%;
    width: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

.font_13 {
	font-size: 13px !important;
}

.page_wrapper {
	width: 100%;
	float: left;
	position: relative;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
}

.wdth100 {
	width: 100%;
	float: left;
}

.main_wrapr {
	display: flex;
	height: calc(100vh - 70px);
}

.video_panel {
	width: calc(100% - 350px);
	float: left;
	height: 100%;
}

#video_call_wrapr {
	display: grid;
	grid-auto-rows: repeat(4, 50%);
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
	min-height: 100%;
}

.grid2 {
	grid-template-columns: repeat(2, minmax(.5fr, 1fr));
	margin-top: 15px;
}

.video_col {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.full_col {
	grid-column-start: 1;
	grid-column-end: 4;
}

.video_col>img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: fill;
	filter: blur(4px);
	-webkit-filter: blur(4px);
}

.participant_avatar {
	display: inline-block;
	width: 128px;
	height: 128px;
	position: relative;
	z-index: 1;
}

.participant_avatar>img {
	border-radius: 100%;
}

img {
	max-width: 100%;
}

.chat_top {
	background: rgba(0, 0, 0, .9);
	display: flex;
	padding: 15px;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 9;
	height: 69px;
}

.proj_title span {
	color: #fff;
	font-size: 18px;
	text-transform: capitalize;
	display: flex;
	align-items: center;
}

.proj_title img {
	width: 20px;
	height: 20px;
	object-fit: cover;
	margin-right: 5px;
}

.live_icon {
	background: #121212;
	position: relative;
	padding: 6px 15px 6px 20px;
	border-radius: 10px;
	margin-left: 15px;
}

.live_icon:before {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.live_icon.online:before {
	background: #00FF00;
}

.live_icon.offline:before {
	background: #FF6347;
}

.live_icon span {
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
}

.chat_btm {
	padding: 15px;
	background: #000;
}

.left_icon_list {
	display: flex;
}

.left_icon_list li a,
.emoji_list li a {
	width: 40px;
	height: 40px;
	background: #393939;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left_icon_list li a.active {
	border: 1px solid #fff;
}

.left_icon_list>li {
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid #fff;
}

.left_icon_list>li:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}

.left_icon_list li a img,
.emoji_list li a img {
	width: 20px;
	height: 20px;
	object-fit: cover;
}

.left_icon_list .inner_list {
	display: flex;
}

.inner_list>li,
.emoji_list>li {
	margin-right: 10px;
}

.inner_list>li:last-child,
.emoji_list>li:last-child {
	margin-right: 0;
}

.emoji_list {
	display: flex;
}

.chat_icon_rgt {
	margin-right: 250px;
}

.chat_icon_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 80%;
}

.d_flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chat_main_wrraper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.profile_icn>i {
	color: #fff;
}

.logo>img {
	max-width: 100px;
	width: 100%;
	object-fit: cover;
	margin-bottom: 20px;
}

.profile_icn img {
	margin-left: 10px;
}

.chat_wrapper {
	width: 350px;
	float: right;
	position: relative;
	z-index: 99;
	height: 100vh;
}

.chat_header {
	background: #000;
	padding: 10px;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	position: relative;
	box-shadow: 0px 2px 10px #000000a8;
	padding: 15px 10px;
}

.chat_headerimg {
	max-width: 100%;
}

.back_icn i {
	color: #fff;
	background: #454842;
	padding: 7px 10px;
	border-radius: 6px;
	font-size: 14px;
	font-weight: 700;
}

.chat_header h5 {
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	margin-left: 16px;
}

.chat_header h5>span {
	display: block;
	font-size: 12px;
	color: rgba(250, 250, 250, .8);
}

.list_icn {
	position: absolute;
	right: 20px;
	top: 18px;
}

.list_icn i {
	color: #fff;
	margin: 0 5px;
}

.list_icn a {
	color: #fff;
	font-size: 14px;
	background: #454842;
	padding: 6px 5px;
	border-radius: 6px;
}

.chat_body_wrap {
	background: #000;
	position: relative;
	overflow: hidden;
	height: calc(100vh - 60px);
}

.chat_body {
	padding: 10px 10px 10px 20px;
	height: auto;
	overflow-y: auto;
	position: absolute;
	left: 0;
	right: 0;
	max-height: calc(100vh - 130px);
}

:host::ng-deep.chat_body p {
	font-size: 14px;
	line-height: normal;
	font-weight: normal;
	margin-bottom: 10px;
	color: #fff;
}

:host::ng-deep.incoming_msg,
.outgoing_msg {
	background: #454842;
	min-height: 96px;
	border-radius: 10px;
	padding: 12px 12px;
	position: relative;
	margin-bottom: 15px;
	max-width: 100%;
	width: 100%;
}

:host::ng-deep.incoming_msg p,
.outgoing_msg p {
	margin-bottom: 0px;
	text-transform: uppercase;
}

:host::ng-deep.user_icn {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	font-size: 14px;
	color: #fff;
	text-transform: capitalize;
}

:host::ng-deep.user_icn img {
	width: 25px;
	margin-right: 10px;
}

.bg_green {
	background: #067437;
}

.chat_speaker {
	padding: 1px 4px;
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 11px;
	text-transform: initial;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
}

.outgoing_msg {
	background: #314aa2;
}

.write_msg {
	position: absolute;
	bottom: 15px;
	right: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	padding: 12px;
	height: 54px;
	background: #000;
}

.chat_wrap {
	position: relative;
	max-width: 100%;
	width: 100%;
	margin-right: 10px;
}

.chat_input {
	border: none;
	border-radius: 10px;
	background: #454842;
	padding: 15px 38px 15px 45px;
	width: 100%;
	font-size: 12px;
	color: #111111;
	text-transform: capitalize;
}

.chat_input:focus {
	outline: none;
}

.sent_icn {
	position: absolute;
	right: 12px;
	top: 12px;
}

.camera_icn>img,
.search_user>img {
	width: 26px;
}

.search_user {
	position: absolute;
	left: 8px;
	margin-top: 10px;
}

.sent_icn i {
	color: #fff;
}

.chat_input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(0, 0, 0, .54);
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
	color: #111111;
	font-weight: 500;
}

.chat_input::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(0, 0, 0, .54);
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
}

.chat_input:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(0, 0, 0, .54);
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
	color: #111111;
}

.chat_input:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(0, 0, 0, .54);
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
	color: #111111;
}