/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box; 
  }
  
  
  html,
  body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
   }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
    padding: 0;
     }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
     }
  
  li {
    list-style: none; 
  }
  
  a {
    text-decoration: none;
    color: #29404e;
     }
  
  a:hover,
  a:focus {
    text-decoration: none; 
  }
  section{
    padding: 40px 0;
  }
  section,
  header,
  footer {
    width: 100%;
    float: left; 
  }
  
  img {
    max-width: 100%;
  }
  input,button{
    outline: none;
  }
  
  .wdth100 {
    width: 100%;
    float: left;
  }
  .light_orange{
    color: #ffa400;
  }
   h1{
    font-size: 55px;
   }
  
   h2{
    font-size: 34px;
   }
  
   h3{
    font-size: 29px;
   }
  
   h4{
    font-size: 20px;
   }
  
   p{
    font-size: 18px;
    line-height: 28px;
   }
  .logo {
      font-weight: 300;
      text-align: center;
      margin-bottom: 73px;
  }
  
  
   /* Custom checkbox */
  .cstm_checkbox [type="checkbox"]:not(:checked),
  .cstm_checkbox [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  .cstm_checkbox [type="checkbox"]:not(:checked) + label,
  .cstm_checkbox [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
    margin-bottom: 0;
        font-weight: 400;
        font-size: 18px;
  
  }
  
  .forget_row {
      display: flex;
      margin-bottom: 30px;
      justify-content: space-between;
  }
  .forget_row a{
    color: #29404e;
    font-size: 18px;
  }
  
  /* checkbox aspect */
  .cstm_checkbox [type="checkbox"]:not(:checked) + label:before,
  .cstm_checkbox [type="checkbox"]:checked + label:before {
    content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1.25em;
      height: 1.25em;
      border: 1px solid #ccc;
      background: transparent;
      border-radius: 0;
      box-shadow: none;
  }
  /* checked mark aspect */
  .cstm_checkbox [type="checkbox"]:not(:checked) + label:after,
  .cstm_checkbox [type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: .15em; left: .22em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #f89a3b;
    transition: all .2s;
    
  }
  /* checked mark aspect changes */
  .cstm_checkbox [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  .cstm_checkbox [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  .wrap_login{
     width: 100%;
      float: left;
    background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(243,243,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(243,243,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(243,243,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3ff',GradientType=1 ); /* IE6-9 */
  }
  .login_wrapper {
      width: 100%;
      float: left;
      display: flex;
      height: 100vh;
      align-items: center;
  
  }
  .login_left {
      width: 50%;
      text-align: center;
     /* padding: 40px 20px;*/
  }
  
  .form_field {
        margin-bottom: 20px;
      width: 100%;
  }
  .form_field label{
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .form_field input {
      border-bottom: 1px solid #ddd;
      border-left: none;
      border-right: none;
      border-top: none;
      padding: 0 0px 4px;
      width: 100%;
      background: transparent;
  }
  .login_rgt {
      width: 50%;
      padding: 0 0 0 105px;
     /* padding: 30px 50px 30px;*/
  }
  .login_rgt button{
    width: 100%;
  }
  .default_btn {
      color: #fff;
      border: none;
      display: inline-block;
      padding: 10px 18px;
      text-align: center;
      min-width: 104px;
      font-size: 18px;
      border-radius: 4px;
      border:1px solid transparent;
      line-height: normal;
      background: rgb(249,186,80);
      background: -moz-linear-gradient(top, rgba(249,186,80,1) 0%, rgba(248,140,50,1) 100%);
      background: -webkit-linear-gradient(top, rgba(249,186,80,1) 0%,rgba(248,140,50,1) 100%);
      background: linear-gradient(to bottom, rgba(249,186,80,1) 0%,rgba(248,140,50,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ba50', endColorstr='#f88c32',GradientType=0 );
  }
  .default_btn:hover{
    border:1px solid #f88c32;
    background: #fff;
    color: #f88c32;
  }
  .login_rgt p {
      margin-top: 26px;
      font-weight: 400;
  }
  .login_rgt p a{
    margin-left: 10px;
  }
  .app_row{
    width: 100%;
    float: left;
    margin-top: 26px;
  }
  .app_row img {
      margin-right: 13px;
      width: 166px;
  }
  header{
    background: #102634;
        padding: 14px 0;
  }
  span.profile_name {
      margin-left: 10px;
  }
  .wrap_header {
      width: 100%;
      float: left;
      display: flex;
      justify-content: space-between;
  }
  .profile_img img {
      width: 50px;
      border-radius: 100%;
      height: 50px;
      box-shadow: 0px 1px 4px #fff;
  }
  .profile_dropdown button {
      background: transparent;
      border: none;
      color: #fff;
  }
  .logo.mg0 {
      margin-bottom: 0;
      color: #fff;
  }
  .profile_dropdown .dropdown-menu {
      padding: 0px 0;
      margin: 13px 0 0;
      font-size: 14px;
      border-radius: 0;
  }
  .profile_dropdown .dropdown-menu li a {
      padding: 8px 10px;
  }
  .profile_dropdown .dropdown-menu>li>a:focus,
  .profile_dropdown .dropdown-menu>li>a:hover {
      color: #262626;
      background-color: rgba(16, 38, 52, .2);
  }
  .banner {
      background: url(assets/images/banner.jpg) no-repeat;
      width: 100%;
      float: left;
      min-height: 300px;
      background-position: 0 34%;
      background-size: cover;
      position: relative;
  }
  .banner.banner_details{
    background: url(assets/images/events_detail.jpg) no-repeat;
    background-size: cover;
      background-position: 0 48%;
  }
  .banner:after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(16, 38, 52, .6);
    height: 100%;
  }
  .banner h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      z-index: 9;
     /* color: #ffa400;*/
     color: #fff;
  }
  
  .cstm_tab .nav-tabs>li.active>a,
  .cstm_tab .nav-tabs>li.active>a:focus,
  .cstm_tab .nav-tabs>li.active>a:hover {
      color: #fff;
      cursor: default;
      background-color: #ffa400;
      border: none;
      border-bottom-color: transparent;
  }
  .cstm_tab .nav-tabs {
      border-bottom: 1px solid #cddae2;
  }
  .cstm_tab .nav-tabs>li {
      float: left;
      margin-bottom: -1px;
  }
  .cstm_tab .nav>li>a {
      font-size: 18px;
  }
  
  .tab_heading {
      margin-top: 28px;
      margin-bottom: 20px;
      font-weight: 300;
      padding: 0 14px;
  }
  .events_row {
      margin-top: 46px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
  }
  .font_wgt500{
    font-weight: 500;
  }
  .events_col {
      width: 31%;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
      border-radius: 4px;
     margin: 0 13px 25px;
  }
  .event_img img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      height: 200px;
      width: 100%;
      object-fit: cover;
  }
  .event_img{
    position: relative;
  }
  .date_event {
      position: absolute;
      top: 0;
      color: #fff;
      background: #ffa400;
      width: 75px;
      height: 80px;
      text-align: center;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      padding: 5px 0 0 0;
  }
  .date_event span {
      font-size: 32px;
      font-weight: 900;
      line-height: 34px;
      text-transform: uppercase;
  }
  .date_event .date{
     font-size: 40px;
  }
  .event_contnt {
      padding: 14px 14px;
  }
  .event_contnt h4{
    font-weight: 500;
    margin-bottom: 10px;
  }
  .event_contnt p{
    font-weight: 300;
    margin-bottom: 19px;
  }
  ul.event_list {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, .2);
      width: 100%;
      padding: 10px 0;
      left: 0px;
  }
  .event_list li {
      display: inline-block;
      margin-left: 7px;
  }
  .event_list li.speaker a{
    background: #f53c1e;
  }
  .event_list li.ograniser a{
    background: #799af5;
  }
  .event_list li a {
     padding: 4px 15px;
      border-radius: 30px;
      color: #fff;
      font-size: 16px;
  }
  .time_schdule {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
  }
  .time_schdule p {
      font-size: 15px;
      margin-bottom: 0;
  }
  .time_schdule p i{
    margin-right: 4px;
  }
  footer {
      background: #000;
      text-align: center;
      font-weight: 300;
      color: #fff;
      padding: 10px 0;
  }
  .events_col.details {
      width: 100%;
      margin-left: 0;
      margin-bottom: 64px;
  }
  .events_col.details .event_img img {
      height: 402px;
  }
  .events_col.agenda_col p{
    margin-bottom: 14px;
  }
  .speaker_heading {
      font-size: 18px;
      color: #ffa400;
  }
  .cstm_tab .nav>li>a {
      padding: 10px 27px;
  }
  .speaker_feature {
      margin-bottom: 10px;
      display: inline-block;
  }